/*-- scss:defaults --*/

// Colors
$white: #FFFFFF;
$cream: #F7F7F7; 
$gray: #64605f;
$purple: #9158A2;
$royal-blue: #0068BB;
$baby-blue: #d2e3f3;
$teal: #047C90;
$dark-blue: #003660;
$green: #78A540; 
$magenta: #900C3F;

// Base document colors
$navbar-bg: $dark-blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $white; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color